58-podcast-production-engine/config/n8n/podbean-broker.workflow.json
{
  "name": "Podbean Broker (Skill 58)",
  "nodes": [
    {
      "id": "11111111-1111-4111-8111-1111111111a1",
      "name": "Webhook podbean-broker",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1200, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "podbean-broker",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "22222222-2222-4222-8222-2222222222a2",
      "name": "Authorize & Dispatch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1000, 0],
      "parameters": {
        "jsCode": "// Podbean Broker -- authorize, validate, dispatch.\n// BlackCEO's SINGLE Podbean app (client_id/client_secret) lives ONLY inside\n// this n8n instance (as the httpBasicAuth credential on the 'Podbean Token'\n// node) and never leaves it. The client box holds only the webhook URL + a\n// low-privilege shared token (validated HERE) + the Podbean Channel ID.\nconst EXPECTED = $env.PODBEAN_BROKER_TOKEN || '';\nconst item = $input.first();\nconst j = (item && item.json) ? item.json : {};\nconst body = j.body || {};\nconst headers = j.headers || {};\nconst presented = headers['x-podbean-broker-token'] || headers['X-Podbean-Broker-Token'] || body.token || '';\n\nfunction reject(code, error, extra) {\n  return [{ json: { authorized: false, is_mint: false, http_code: code,\n    response: Object.assign({ ok: false, error: error }, extra || {}) } }];\n}\n\nif (!EXPECTED) return reject(500, 'broker_misconfigured', { detail: 'PODBEAN_BROKER_TOKEN not set in n8n' });\nif (!presented || presented !== EXPECTED) return reject(401, 'unauthorized');\n\nconst action = (body.action || '').toString();\nif (!action) return reject(400, 'missing_action');\n\nconst IMPLEMENTED = 'mint_token';\nif (action !== IMPLEMENTED) {\n  return [{ json: { authorized: true, is_mint: false, http_code: 501,\n    response: { ok: false, error: 'not_implemented', action: action,\n      note: 'Only mint_token is implemented. It returns a Podbean access token scoped to the requested Channel ID.' } } }];\n}\n\nconst podcast_id = (body.podcast_id || '').toString().trim();\nif (!podcast_id) return reject(400, 'missing_fields', { missing: ['podcast_id'] });\n\nreturn [{ json: { authorized: true, is_mint: true, http_code: 200, action: action, podcast_id: podcast_id } }];"
      }
    },
    {
      "id": "33333333-3333-4333-8333-3333333333a3",
      "name": "Authorized?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-800, 0],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-authorized",
              "leftValue": "={{ $json.authorized }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "44444444-4444-4444-8444-4444444444a4",
      "name": "Is mint_token?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-600, -100],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-mint",
              "leftValue": "={{ $json.is_mint }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "55555555-5555-4555-8555-5555555555a5",
      "name": "Respond Rejected",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [-380, 220],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.response) }}",
        "options": { "responseCode": "={{ $json.http_code }}" }
      }
    },
    {
      "id": "66666666-6666-4666-8666-6666666666a6",
      "name": "Podbean Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-380, -100],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "https://api.podbean.com/v1/oauth/multiplePodcastsToken",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "grant_type", "value": "client_credentials" },
            { "name": "podcast_id", "value": "={{ $('Authorize & Dispatch').item.json.podcast_id }}" }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpBasicAuth": { "id": "REPLACE_WITH_PODBEAN_BASIC_CREDENTIAL", "name": "BlackCEO Podbean App (connect me)" }
      }
    },
    {
      "id": "77777777-7777-4777-8777-7777777777a7",
      "name": "Extract Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-160, -100],
      "parameters": {
        "jsCode": "// Parse the Podbean multiplePodcastsToken response and return a token\n// SCOPED to the requested Channel ID. Tolerates both documented shapes:\n// { podcast_tokens: [ { podcast_id, access_token, expires_in } ] } or a map\n// keyed by podcast id; also accepts a top-level access_token (single-podcast).\nconst a = $('Authorize & Dispatch').item.json;\nconst resp = ($input.first() && $input.first().json) ? $input.first().json : {};\nconst tgt = String(a.podcast_id);\nlet token = '';\nlet expires = null;\n\nconst list = resp.podcast_tokens;\nif (Array.isArray(list)) {\n  for (const t of list) {\n    if (t && String(t.podcast_id) === tgt) { token = t.access_token || ''; expires = t.expires_in || null; }\n  }\n}\nif (!token) {\n  const n = resp[tgt];\n  if (n && typeof n === 'object') { token = n.access_token || ''; expires = n.expires_in || null; }\n  else if (typeof n === 'string') { token = n; }\n}\nif (!token && resp.access_token) { token = resp.access_token; expires = resp.expires_in || null; }\n\nif (!token) {\n  return [{ json: { ok: false, http_code: 502, action: 'mint_token', via: 'n8n_broker', podcast_id: tgt,\n    error: 'token_mint_failed',\n    detail: 'Podbean returned no access_token for this Channel ID. Check the BlackCEO Podbean App credential and that the Channel ID belongs to the host account.' } }];\n}\nreturn [{ json: { ok: true, http_code: 200, action: 'mint_token', via: 'n8n_broker', podcast_id: tgt, access_token: token, expires_in: expires } }];"
      }
    },
    {
      "id": "88888888-8888-4888-8888-8888888888a8",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [60, -100],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": { "responseCode": "={{ $json.http_code || 200 }}" }
      }
    }
  ],
  "connections": {
    "Webhook podbean-broker": { "main": [[{ "node": "Authorize & Dispatch", "type": "main", "index": 0 }]] },
    "Authorize & Dispatch": { "main": [[{ "node": "Authorized?", "type": "main", "index": 0 }]] },
    "Authorized?": {
      "main": [
        [{ "node": "Is mint_token?", "type": "main", "index": 0 }],
        [{ "node": "Respond Rejected", "type": "main", "index": 0 }]
      ]
    },
    "Is mint_token?": {
      "main": [
        [{ "node": "Podbean Token", "type": "main", "index": 0 }],
        [{ "node": "Respond Rejected", "type": "main", "index": 0 }]
      ]
    },
    "Podbean Token": { "main": [[{ "node": "Extract Token", "type": "main", "index": 0 }]] },
    "Extract Token": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
